h1
	color: #EF8C23;

body
	margin-top 69px
	background-color: #333;
	color: #EEE;
	font-size 16px;

table.logEntries
	th
		cursor pointer;
	tr.warning
		color: #333;
	tr.danger
		color: #333;
.sorting
	cursor pointer;

.table-head
	div
		&:hover
			-webkit-box-shadow: inset 0px 20px 10px -4px rgba(119,119,119,1);
			-moz-box-shadow: inset 0px 20px 10px -4px rgba(119,119,119,1);
			box-shadow: inset 0px 20px 10px -4px rgba(119,119,119,1);
		padding 10px 20px
		font-size 120%;
		line-height 150%;
		i
			height 100%
.data-row
	border-bottom: 1px solid #eee;
	border-left: 5px solid #EA922A;
	padding: 10px 20px;
	&.danger
		background-color #900
		color #fff
	&.warning
		background-color #990
		color #333
.logMsg
	word-wrap break-word