@require(vars)
@require(typography)

h1
	color: #EF8C23;

body
	margin-top 69px
	background-color: #333;
	color: color-white
	font-size base-font-size;

table.logEntries
	th
		cursor pointer;
	tr.warning
		color: #333;
	tr.danger
		color: #333;
.sorting
	cursor pointer;

.table-head
	div
		&:hover
			-webkit-box-shadow: inset 0px 20px 10px -4px rgba(119,119,119,1);
			-moz-box-shadow: inset 0px 20px 10px -4px rgba(119,119,119,1);
			box-shadow: inset 0px 20px 10px -4px rgba(119,119,119,1);
		padding padding padding * 2
		font-size 120%;
		line-height 150%;
		i
			height 100%
			margin-left 10px
		&.sort-top,&.sort-bottom
			//border-left 2px solid color-white
			//border-right 2px solid color-white
		&.sort-top
			// border-top 2px solid color-white
			// border-top-left-radius 5px
			// border-top-right-radius 5px
			-webkit-box-shadow: inset 0px 10px 10px 5px rgba(40,84,173,1);
			-moz-box-shadow: inset 0px 10px 10px 5px rgba(40,84,173,1);
			box-shadow: inset 0px 10px 10px 5px rgba(40,84,173,1);
		&.sort-bottom
			// border-bottom 2px solid color-white
			// border-bottom-left-radius 5px
			// border-bottom-right-radius 5px
			-webkit-box-shadow: inset 0px -10px 10px 5px rgba(204,204,66,1);
			-moz-box-shadow: inset 0px -10px 10px 5px rgba(204,204,66,1);
			box-shadow: inset 0px -10px 10px 5px rgba(204,204,66,1);
.data-row
	// border-bottom: 1px solid color-white
	border-left: 5px solid color-orange
	border-right: 5px solid color-orange
	padding: padding 0;
	@media(max-width: 991px)
		border-right none
		border-bottom: 1px solid color-white	
	.logDate,.logTime
		font-family digital-7regular
		@media(max-width: 991px)
			display inline-block
			margin-left padding
	.logTime
		font-size 150%
		color color-orange
	.logSever
		font-size 200%
		color color-gray
		text-align center
		@media(max-width: 991px)
			text-align left
		i:last-child
			margin-left padding * 4
		
		
	&.danger
		border-left 5px solid color-red
		border-right: 5px solid color-red
		color #fff
		.logSever
			color color-red
		.logTime
			color color-red
		.logMsg
			color color-red
			@media(max-width: 991px)
				border-left 5px solid color-red
	&.warning
		border-left 5px solid color-yellow
		border-right: 5px solid color-yellow
		color #eee
		.logSever
			color color-yellow
		.logTime
			color color-yellow
		.logMsg
			color color-yellow
			@media(max-width: 991px)
				border-left 5px solid color-yellow
	.logMsg
		word-wrap break-word
		background-color #777
		border-radius 5px
		padding padding padding * 2
		
		@media(max-width: 991px)
			border-top-left-radius 20px
			border-bottom-left-radius 20px
			border-left 5px solid color-orange