h1 {
  color: #ef8c23;
}
body {
  margin-top: 69px;
  background-color: #333;
  color: #eee;
  font-size: 16px;
}
table.logEntries th {
  cursor: pointer;
}
table.logEntries tr.warning {
  color: #333;
}
table.logEntries tr.danger {
  color: #333;
}
.sorting {
  cursor: pointer;
}
.table-head div {
  padding: 10px 20px;
  font-size: 120%;
  line-height: 150%;
}
.table-head div:hover {
  -webkit-box-shadow: inset 0px 20px 10px -4px #777;
  -moz-box-shadow: inset 0px 20px 10px -4px #777;
  box-shadow: inset 0px 20px 10px -4px #777;
}
.table-head div i {
  height: 100%;
}
.data-row {
  border-bottom: 1px solid #eee;
  border-left: 5px solid #ea922a;
  padding: 10px 20px;
}
.data-row.danger {
  background-color: #900;
  color: #fff;
}
.data-row.warning {
  background-color: #990;
  color: #333;
}
.logMsg {
  word-wrap: break-word;
}
