@font-face
    font-family: digital-7regular
    src: url(/app/fonts/digital_7_regular/digital-7-webfont.eot)
    src: url(/app/fonts/digital_7_regular/digital-7-webfont.eot?#iefix) format(embedded-opentype),
    url(/app/fonts/digital_7_regular/digital-7-webfont.woff) format(woff),
    url(/app/fonts/digital_7_regular/digital-7-webfont.ttf) format(truetype),
    url(/app/fonts/digital_7_regular/digital-7-webfont.svg#digital-7regular) format(svg)
    font-weight normal
    font-style normal