doctype
html
	head
		//todo: add favicon
		link(rel="stylesheet", href="/vendor/bootstrap/dist/css/bootstrap.css")
		link(rel="stylesheet", href="/css/style.css")
		title Dog Log Viewer v0.0.1
		base(href='/')
	body(ng-app='app')
		h1 Dog Log Viewer's root
		block main-content
		include scripts