doctype
html
	head
		//todo: add favicon
		link(rel="stylesheet", href="/vendor/bootstrap/dist/css/bootstrap.css")
		link(rel="stylesheet", href="/css/style.css")
	body
		h1 Dog Log Viewer's root
		block main-content
		include scripts